# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.launch

# Build folders
Debug/
Release/
build/

# CubeIDE generated
STM32CubeIDE/.project
STM32CubeIDE/.cproject

# Object files
*.o
*.d
*.elf
*.map
*.lst

# IDE temp files
*.log
